p.test{
    padding: 10px;
    border: 1px solid #f53;
    margin: 20px;
}

li{
    display: inline;
    margin-left: 10px;
}

ol{
    display: inline;
    align-items: center;
    border: 1px solid #f53;
    padding-left: 0px;
}

ol li.li1{
    margin-left: 0px;
}