header.header{
    min-height: 70px;
    border: 1px solid gray;
    width: 100%;
    text-align: center;
}

div{
    float: left;
    border: 1px solid gray;
}

div.div1{
    width: 65%;
    box-sizing: border-box;
}

div.div2{
    width: 35%;
    box-sizing: border-box;
}

div.div3{
    width: 33.3%;
    box-sizing: border-box;
}
div.div4{
    width: 33.3%;
    box-sizing: border-box;
}
div.div5{
    width: 33.3%;
    box-sizing: border-box;
}

footer.footer{
    width: 100%;
    border: 1px solid gray;
    text-align: center;
}